.amst-sea{
    &-subtn{
        background-color: #f5f5f5;
        border: 0;
    }
    &-inp{
        padding: 0 20px !important;
        margin: 10px 20px;
        background-color: #f5f5f5;
        border-radius: 30px;
    }
}