.amst-home-emergency{
    background: #fff;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
    overflow:hidden;
    padding: 0 10px 20px 10px;
    &-content{
        font-size: 12px;
    }
}